@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}



@layer utilities {
  .max-container {
    @apply  mx-auto max-w-[1540px];
  }

  .padding-container {
    @apply px-6 lg:px-6 xl:px-0 2xl:px-0;
  }
  .custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
  }
}
